<h1 align="center"> Listing all articles </h1>

<%= will_paginate @articles,
    class: 'custom-pagination',  # Clase contenedora
    previous_label: content_tag(:span, '«', class: 'pagination-nav'),
    next_label: content_tag(:span, '»', class: 'pagination-nav'),
    inner_window: 1,
    outer_window: 1,
    link_options: { class: 'pagination-link' } %>
    

<%= render 'article', obj: @articles %>

<div align="center">
<%= will_paginate @articles, :page_links => false %>
</div>
