<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://cook-recipes-2.onrender.com" > Repartiendo inc. </a> by <a href="https://edahigure.github.io/real-portfolio/"> Edahi Gutiérrez</a>
        </small>
        <nav>
            <ul>
                <li> <%= link_to "About", pages_about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>
