<div class="row">
  <div class="col-10 offset-1">
    <% flash.each do |name, msg| %>
      <% bootstrap_class = { notice: "success", alert: "danger", error: "danger" }[name.to_sym] || "info" %>
      <div class="alert alert-<%= bootstrap_class %> alert-dismissible fade show" role="alert">
        <%= msg if msg.is_a?(String) %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
</div>